
body {
    padding : 0;
    margin : 0;
    background : #F4F3F8;
    }
    .navbar {
    background : #FBE8D9;
    }
    .nav-link:hover {
    color : #000;
    }
    .navbar-collapse {
    justify-content : flex-end;
    }
    .quizArea {
    top : 10%;
    left : 10%;
    width : 70%;
    
    background : rgb(231 228 231);
    border : darkred solid 1px;
    border-radius : 10px;
    margin : 4em auto;
    padding : 3em;
    box-shadow: 5px 10px #888888;
    }
    .row button{
        width: 50%;
        margin: 20px;
        background-color:  	#92A7AA;
        border: none;
      
    }
    .row button:hover{
        border: 1px solid #666664;
        background-color:  	#ADADAD;
      
    }
    .row button:visited{
        border: 1px solid : 	#55DECC;
        background-color:  	#54DAB9;
      
    }
    .page-footer {
    background-color : #FBE8D9;
    color : #ccc;
    padding : 10px;
    }
    .footer-copyright {
    color : #666;
    }
    #ani h1{
        text-align: right;
        text-shadow: 5px 5px  #b4b0b0;
        font-weight: bold;
        color: #90A2A6;

    }
    .animate:hover {
        -webkit-animation: animate 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: animate 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

  @keyframes animate {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  @media (max-width: 575.98px) {
    .quizArea {
      left: 0;
      padding: 0 15px;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
  }
    